<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- META-DATA -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="css/materialize.css" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,projection">

  <!-- ICON PAGE-->
  <link rel="icon" href="images/ic_launcher_micro_finance.png" sizes="32x32">

  <title>Micro Finance</title>
</head>
<body>
  <!-- NAVBAR FIXO -->
  <div class="navbar-fixed">
    <nav class="blue-special" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Micro Finance</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="login.html">Entrar</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="login.html">Entrar</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Gerenciamento Financeiro Pessoal</h1>
      <div class="row center">
        <h5 class="header col s12 light">Gestão financeira fácil, com esforço micro.</h5>
      </div>
            <div class="row center">
        <h5 class="header col s12 light"> <%= ok || error %> </h5>
      </div>
      <div class="row center">
        <a href="login.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Começar agora</a>
      </div>
      <br><br>
    </div>
    <div class="parallax"><img src="images/banner-index-2.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">
      <!-- icon section-->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-clock">
            <h2 class="center indigo-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Agilidade na Gestão</h5>
            <p class="light">O gerenciamento ficará mais prático com a agilidade da nossa aplicação.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-clock">
            <h2 class="center indigo-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Cadastro</h5>
            <p class="light">O cadastro do usuário pode ser realizado através do site como também pelo nosso aplicativo, trazendo a sincronização dos dados online, dando flexibilidade ao modo de gestão de cada um.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-clock">
            <h2 class="center indigo-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Gerenciamento Pessoal</h5>
            <p class="light">A nossa aplicação trás um gerenciamento individual dos gastos e dos ganhos do nosso dia-a-dia, trazendo praticidade para o acompanhamento do luxo do nosso dinheiro.</p>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Aplicação ideal para organizar a sua vida financeira, com esforço tamanho micro.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/banner-index-4.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Sobre nossa aplicação</h4>
          <p class="left-align light">O segredo para ter suceso na vida financeira é usar bem o seu dinheiro. E para isso, a tecnologia pode ser uma forte aliada.Por isso lhe apresentamos o Micro Finance.
          O MicroFinance é um aplicativo para gestão financeira pessoal que lhe porporcionará um jeito de gestão com esforço micro. Com ele você pode organizar suas contas. O diferencial está na sua simplicidade.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Gerencie os seus gastos e ganhos mais facilmente utilizando nossa aplicação. Não fique para atrás!!! ;)</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/banner-index-5.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Micro Finance</h5>
          <p class="grey-text text-lighten-4">Nossa empresa voltada à desenvolver produtos que auxiliem no cotidiano de todas as pessoas, gerenciando todos os seus gastos e ganhos para futuros investimentos.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Fale conosco</h5>
          <ul>
            <li class="white-text">Site: <a class="white-text" href="#!">www.11group.com.br</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container center">
      © 2017 Copyright <a class="brown-text text-lighten-3" href="#">11 Group</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>